/* First part style */

#fifa{
    color: cyan;
    font-size: 60px ;
}

.top-design{
   font-size: 50px;
}
#quatar{
    color: snow;
    font-size: 30px;
}

.top-part{
    display: flex;
    background-image: url("images/background1.jpg");
   
    
}

    

.part-1{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2px;
}
#link{
    text-decoration: none;
    color: thistle;
    background-image: linear-gradient(red, orange);
    padding:6px 10px;
    border-radius: 5px;
    font-weight: 400;
}
#link:hover{
    font-weight: bold;
    color: silver;
}

/* second part style */
.players-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 100PX;
    grid-row-gap: 40px;
    grid-column-gap: 20px;
   

}
.players{
    width: 50%;
    margin-left: 22%;
    margin-right: 10%;
    padding: 10px;
    padding-top: 10PX;
    border-radius: 10px;
    box-shadow: 10px 10px 20px grey ;

}

